extends layout

block content
	h1= title
	p Welcome to #{title}
		form(method: 'post')
			input(type:'text', name:'username')
			br
			input(type:'text', name:'password')
			br
			input(type:'text', name:'email')
			br
			button(class="btn", data-action="bea", value:' SUBMIT ')