<!doctype>
<html>
<head>
</head>

<head id="index">
    <meta charset="UTF-8">
    <title>Photoalbums on AWS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

    <!-- compiled scss -->
    <link rel="stylesheet" type="text/css" href="style.css">

 </head>

<body ng-app="photoalbum" >

<h1>Photoalbums on AWS</h2>

    <div ng-controller="appMenuControls">

        <div class="ang-view" ng-view>   
        </div>

    </div> <!--close appMenuControls -->

</body>
</html>
